@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&display=swap');
* {
  margin: 0;
  padding: 0;


}

:root {


  font-family: 'Nunito Sans', sans-serif;

  color: #424242;
}


